html {
    background-color: ghostwhite;
    position: relative;
    height: 100%;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: Microsoft Yahei,SimHei;
    position: relative;
    height: 100%;
}
h4 {
    margin: 0;
    font-size: 18px;
}

.loading-page {
    height: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 200px;
}
.monitor-page {
    position: absolute;
    height: 280px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #EEE;
    border-top: solid 1px #DDD;
}
.monitor-page .title {
    border-bottom: solid 1px #DDD;
    background-color: #E5E5E5;
}
.monitor-page .task-list{
    position: absolute;
    top: 22px;
    bottom: 0;
    left: 50%;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
.monitor-page .task-list .task-item{
    padding: 2px 0px;
}
.monitor-page .task-list .task-item .task-progress{
    height: 6px;
    background-color: #E5E5E5;
}
.monitor-page .task-list .task-item .task-progress .progress{
    background-color: #64CFF1;
    height: 100%;
    border-radius: 3px;
    transition: width 1s;
    -moz-transition: width 1s;/* Firefox 4 */
    -webkit-transition: width 1s;/* Safari 和 Chrome */
    -o-transition: width 1s;/* Opera */
}
.monitor-page .log-list {
    position: absolute;
    top: 22px;
    bottom: 0;
    left: 0px;
    right: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
.signin-page{
    height: 100%;
}
.signin-page .loginBtn {
    width: 400px;
    height: 80px;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 0 0 12px #CCC;
    /* border-radius: 6px; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
}
.signin-page .loginBtn[disabled=disabled] {
    box-shadow: none;
    cursor: default;
}
.resource-page {
    background-color: #EEE;
    border-bottom: solid 1px #DDD;
}
.resource-page .user-info {display:inline-block;vertical-align: top;padding: 8px;margin: 8px;border: solid 1px #CCC;border-radius: 6px;box-shadow: 0px 0px 6px #CCC;}
.resource-page .user-info > div {display:inline-block;}
.resource-page .user-info .image {width: 60px;height: 60px;}
.resource-page .user-info .signout{
}
.resource-page .workspaces {display: inline-block;vertical-align: top;padding: 8px;}
.resource-page .teams {display: inline-block;vertical-align: top;padding: 8px;}
.resource-page .projects{
    padding: 8px;
    overflow: hidden;
    position: absolute;
    bottom: 280px;
    top: 100px;
    left: 0;
    right: 0;
}
.resource-page .projects h4 {
    border-bottom: solid 1px #DDD;
    padding-bottom: 10px;
    /* display: inline-block; */
}
.resource-page .projects h4 a {
    margin-left: 10px;
}
.resource-page .projects .content{
    overflow-y: auto;
    position: absolute;
    bottom: 0px;
    top: 42px;
    left: 0;
    right: 0;
}
.resource-page .projects ul li a {
    margin-right: 8px;
    text-decoration: blink;
    border: solid 1px #CCC;
    border-radius: 3px;
    padding: 2px 8px;
    background-color: #FFFFFF;
    color: #000;
}
.resource-page .projects ul li a:hover {
    
background-color: #198EDB;
    
color: #FFF;
    
border-color: #2974A5;
}
.resource-page .projects ul li{
    padding: 4px 0;
}
.resource-page .projects ul li:hover{
    background-color: #E5E5E5;
}